/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

:root{
  --mainColor: cornsilk;
  --secondaryColor: rgb(66, 119, 71);
  --tertiaryColor: cornflowerblue;
  --accentColor: chartreuse;
}

body {
  background-color: var(--secondaryColor);
}

.navbar {
  text-align: right;
  position:relative;
  padding: 5%;
  width: 90%;
  margin: auto;
  height: 20%;
  border-radius: 7px;
  background-color:var(--mainColor)
}

.navbar #logo{
  max-width: 10%;
  display:block;
  margin: auto;
  float:left;
  position: relative;
}

nav a {
  margin: 10px;
  padding: 10px;
  color: var(--tertiaryColor)
}

nav a.active {
  background-color: var(--secondaryColor);
  color: var(--mainColor);
  padding: 10px;
  border-radius: 4px
}

nav a.neverActive {
  /* background-color: transparent; */
  /* color: var(--mainColor); */
  padding: 0px;
}

.newTrailForm {
  max-width: 10%;
  display:block;
  margin: auto;
  float:left;
  /* position: relative; */
}

.loginForm{
  max-width: 10%;
}

/* input {
  width: 300px;
} */

.myHikes {
  width: 30%;
  display: block;
  float: left;
  background-color: var(--mainColor);
  border-radius: 7px;
  padding: 2%;
  margin: 2%;
}

.myTrails {
  width: 30%;
  display: block;
  float: left;
  background-color: var(--mainColor);
  border-radius: 7px;
  padding: 2%;
  margin: 2%;
}

.myAbout {
  width: 30%;
  /* display: block; */
  /* float: left; */
  background-color: var(--mainColor);
  border-radius: 7px;
  padding: 2%;
  margin: 2%;
}

.myAvatar {
  width: 130px;
  border-radius: 7px;
  padding: 2%;
  margin: 2%;
  /* display: block; */
  /* float: left; */
}

.unClickedRating {
  appearance: none;
  margin: 0;
  /* content: "☆"; */
  /* content: "⭑" */
  
}

.clickedRating {
  appearance: none;
  margin: 0;
}


.trailImage {
  width: 50%
}

.userHikeImage {
  width: 20%;
}